@import "../../styles.scss";

.footer {
    font-family: $font-regular;
    background-color: $primary-color;
    color: $dark-color;
    h3{
        font-family: $font-bold;
        color: white;
    }
}

.email > a {
    text-decoration: none;
    color: $dark-color;
    font-style: italic;

    &:hover {
        text-decoration: underline;
    }
}

.list-inline-items {
    a {
        color: $dark-color; 
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-link {

    filter: invert(22%) sepia(23%) saturate(6574%) hue-rotate(1deg) brightness(91%) contrast(98%);
    
    &:hover {
        filter: brightness(0) invert(1);
        //filter: invert(93%) sepia(89%) saturate(591%) hue-rotate(305deg) brightness(101%) contrast(78%);
    }
}


.footer-links {
    a {
        color: $dark-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    } 
}

.copyright {
    font-family: $font-light;
    color: white;
    background-color: $dark-color;    
    a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
    
}

