<footer class="footer text-center">
  <!--Text Content-->
  <div class="footer-content container">
    <div>
      <h3>ABOUT US</h3>
      <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget enim felis. Pellentesque habitant morbi tristique senectus 
        et netus et malesuada fames ac turpis egestas. Quisque ut nunc a metus sodales dapibus vitae a sem. Pellentesque consectetur 
        tincidunt facilisis. Quisque porta egestas nisl ut fermentum. Vivamus in urna massa. Maecenas feugiat egestas dolor, a imperdiet 
        ante bibendum ac. Fusce ullamcorper iaculis tellus vitae hendrerit. In id leo dapibus, dignissim nunc ac, tempus ipsum. </p>
    </div>
    <div>
      <h3>CONTACT US</h3>
      <p class="email"><a>contact@myonlinestore.com</a></p>
      <p>(+63) 912 345 6789</p>
      <p>3rd Floor Pointwest Building, UP-AyalaLand TechnoHub, Commonwealth Ave, Diliman, Quezon City, 1101 Metro Manila</p>
    </div>
  </div>
  
  <!-- Links -->  
    <div class="footer-links container">
        <div class="col-md-12 text-center">
          <ul>
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="/">PRODUCTS</a></li>
            <li><a routerLink="/">ABOUT</a></li>
            <li><a routerLink="/">CONTACT</a></li>
          </ul>
        </div>
    </div>
  <!-- Links -->

  <!-- Grid container: Social Media-->
    <div class="social-media container justify-content-center">
      <!-- Section: Social media -->
      <section>
        <!-- Facebook -->
        <a
          class="btn-link btn-floating"
          routerLink="/"
          role="button"
          ><img class="icon" src="../../assets/img/facebook.svg" alt="facebook">
        </a>
  
        <!-- Twitter -->
        <a
          class="btn-link btn-floating"
          href="#!"
          role="button"
          ><img class="icon" src="../../assets/img/twitter.svg" alt="twitter">
        </a>
  
        <!-- Instagram -->
        <a
          class="btn-link btn-floating"
          href="#!"
          role="button"
          ><img class="icon" src="../../assets/img/instagram.svg" alt="instagram">
        </a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="copyright">
      © 2021 Copyright |
      <a routerLink="/">My Online Store</a>
      | All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>