<div>
  <h1 *ngIf="showSearchResults" class="row m-5 pl-3">
    {{ products.length }} matches for "{{ searchTerm }}"
  </h1>
  <div class="row m-5">
    <div class="col-sm-4" *ngFor="let product of products">
      <div class="card mb-4">
        <a routerLink="product-details/{{product.id}}"><img [src]="product.photo" class="card-img-top" alt="Product Photo" /></a>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">₱ {{ product.price }}</p>
          <p class="card-text">
            <small class="text-muted">
              stars
              reviews
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--test-->