<main>
  <div id="product-list-header" class="container">
    <div class="row">
      <h1>{{header}}</h1>
    </div>
  </div>
  <div class="container pb-5">
    <div class="row w-100">
      <div id="card-container" class="col col-12 col-sm-4" *ngFor="let product of products">
        <div class="card mt-5">
          <a routerLink="/products/product-details/{{product.id}}"><img [src]="product.photo" class="card-img-top" alt="Product Photo"/>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <div class="card-text">
                <span>{{toCurrency.format(product.price)}}</span><br>
                <span>{{getAverageStars(product.reviews)}} stars ({{this.product.reviews.length}} reviews)</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>     
  </div>
</main>