@import "../../../styles.scss";

#product-list-header {
	padding-left: 30px;
	text-transform: capitalize;
	font-family: $font-bold;
	color: $dark-color;
	padding-top: 30px;
	h1 {
		align-content: center;
	}
}

#card-container {
	.card{
		background-color: $card-color;
		min-height: 480px;
		padding: 0px;
		a {
			text-decoration: none;
			color: $dark-color;
			.card-image-top {
				width: 300px;
				height: 300px;
			}
			.card-title {
				text-transform: capitalize;
				font-family: $font-bold;
			}
			&:hover {
				opacity: 0.75;
				.card-image-top{
					opacity: 0.95 !important;
				}
			}
		}		
	} 
}




