<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">

<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top"> 
        <ul class="navbar-nav w-100 d-flex justify-content-between align-items-center">
            <li class="nav-item col-sm-3">
                <a routerLink = "/"><img class="navbar-brand" src = "https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-png-transparent.png" alt = "logo" height="100"></a>
            </li>
            <li class="col-sm-6"><form class="form-inline">
                <div class="input-group flex-grow-1">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn btn-success" type="submit">GO</button>
                </div>
            </form></li>
            <li class="nav-item col-sm-3 text-end">
                <a class="nav-link" id = "my-cart" routerLink = "/cart">MY CART</a>
            </li>
        </ul>
</nav>

