<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <ul class="navbar-nav w-100 d-flex justify-content-between align-items-center">
    <li class="nav-item col-sm-3">
      <a routerLink="/">
        <img
          class="navbar-brand"
          src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-png-transparent.png"
          alt="logo"
          height="100"
        />
      </a>
    </li>
    <li class="col-sm-6">
      <app-search-box></app-search-box>
    </li>
    <li class="nav-item col-sm-3 text-end">
      <a class="nav-link" id="my-cart" routerLink="/cart">MY CART</a>
    </li>
  </ul>
</nav>