<!--uses bootstrap for some properties and grid system-->
<nav class="navbar navbar-expand-md fixed-top"> 
  <ul class="navbar-nav col-12">
    <li class="nav-item col-md-3">
      <a routerLink="/products">
        <img
          class="logo"
          src="../../assets/img/logo1.png"
          alt="logo"
        />
      </a>
    </li>
    <li class="nav-item col-md-6">
      <app-search-box></app-search-box>
    </li>
    <li class="cart nav-item col-md-3">
      <a class="nav-link" id="my-cart" routerLink="/cart"><img class="photo" src="../../assets/img/cart.svg" alt="cart">  MY CART ({{cart.length}})</a>
    </li>
  </ul>
</nav>