@import "../../styles.scss";

.navbar {
    background-color: $primary-color;
    font-family: $font-regular;
    color: $bright-color;
    height: 100px;
    vertical-align: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    width: 100%;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;   
        .logo {
            height: 90px;
        }    
        .cart { 
            padding-right: 30px;
            text-align: end;
            .photo {
                @extend %filter-dark-color;
                vertical-align: top;
                height: 20px;
            }
            a {
                font-family: $font-bold;
                text-decoration: none;
                color: $dark-color;
                &:hover {
                    color: $bright-color;
                    .photo{
                        @extend %filter-bright-color;
                    }
                }
            }
        } 
    }
}

<<<<<<< HEAD



=======
.photo {
    filter: invert(22%) sepia(23%) saturate(6574%) hue-rotate(1deg) brightness(91%) contrast(98%);
    vertical-align: top;
}

.cart > a {
    font-family: $font-bold;
    text-decoration: none;
    color: $dark-color;
    
    &:hover {
        color: white;

        .photo{
            filter: brightness(0) invert(1);
        }
    }
}
>>>>>>> df70a25484c103e8143d1ccce0913a9cb9f427f1
