@import "../../styles.scss";

.navbar {
    background-color: $primary-color !important;
    font-family: $font-regular;
    color: white;
    position: fixed top;
    height: 100px;
    vertical-align: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}

.photo {
    filter: invert(22%) sepia(23%) saturate(6574%) hue-rotate(1deg) brightness(91%) contrast(98%);
    vertical-align: top;
}

.cart > a {
    font-family: $font-bold;
    text-decoration: none;
    color: $dark-color;
    
    &:hover {
        color: white;

        .photo{
            filter: brightness(0) invert(1);
        }
    }
}
