@import "../../styles.scss";

.navbar {
    background-color: $primary-color;
    font-family: $font-regular;
    color: $bright-color;
    height: 100px;
    vertical-align: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    width: 100%;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;   
        .logo {
            height: 90px;
        }    
        .cart { 
            padding-right: 30px;
            text-align: end;
            .photo {
                @extend %filter-dark-color;
                vertical-align: top;
                height: 20px;
            }
            a {
                font-family: $font-bold;
                text-decoration: none;
                color: $dark-color;
                &:hover {
                    color: $bright-color;
                    .photo{
                        @extend %filter-bright-color;
                    }
                }
            }
        } 
    }
}




