<<<<<<< HEAD
@import "../../styles.scss";

.search-box {
    color: $secondary-color !important;
}

input[type=text] {
	padding: 5px 12px;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: white;
	background-image: url('../../assets/img/search.svg');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	width: 80%;
}

.search-btn {
	color: white;
	background-color: $secondary-color;
	border: none;
	border-radius: 20px;
	width: 60px;

	&:hover {
		color: $primary-color;
		background-color: white;
		border-width: 5px;
		border-color: $primary-color;
		box-sizing: border-box;
		
	}
}
=======
>>>>>>> 102af3127a6bac58223eb5186179d944a88dc2fc
