@import "../../styles.scss";

.visible{
  display: none;
  visibility: hidden;
}

h3, h2 {
  font-family: $font-bold;
  padding: 10px 5px;
}
h5 {
  font-family: $font-bold;
  text-transform: capitalize;
}

.start-shopping-btn {
    border-color: $dark-color;
    background-color: white;
    color: $dark-color;
    border-width: 3px;
    box-sizing: border-box;

    &:hover{
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;
    }
}

.product-card {
  margin: 10px 10px;
  background-color: $card-color;
  color: $dark-color;
  border-color: $card-color;
  border-width: 3px;
  border-radius: 4px;
  box-sizing: border-box;
}

.delete-btn {
    border-color: $dark-color;
    background-color: $card-color;
    color: $dark-color;
    border-width: 3px;
    box-sizing: border-box;
    &:hover{
        background-color: $dark-color;
        color: white;
        border-color: $dark-color;
        .delete-svg{
          filter: brightness(0) invert(1);
        }
    }

}

.delete-svg {
  filter: brightness(0) saturate(100);
  filter: invert(16%) sepia(73%) saturate(3156%) hue-rotate(14deg) brightness(96%) contrast(97%);
}

.cart-svg, #edit-svg {
  filter: invert(22%) sepia(23%) saturate(6574%) hue-rotate(1deg) brightness(91%) contrast(98%);
}

#edit-svg:hover {
  filter: brightness(0) invert(1);
}