@import "../../../styles.scss";

.container {
    padding-top: 30px;
    h3 {
        text-transform: capitalize;
        font-family: $font-bold;
        text-align: center;
        padding: 5px;
    }
    .product-info {
        .btn {
            margin: 10px;
            border-color: $dark-color;
            background-color: $bright-color;
            color: $dark-color;
            border-width: 3px;
            box-sizing: border-box;
            &:hover {
                background-color: $card-color;
                color: $dark-color;
                border-color: $card-color;
            }
        }
    }
    .reviews-header {
        text-align: start !important;
    }
    .card {
        margin: 20px;
        padding: 15px;
        background-color: $card-color;
        box-sizing: border-box;
        .username {
            font-family: $font-bold;
        }
        .date {
            text-align: end;
        }
        .content {
            padding: 10px 20px 10px;
            text-align: justify;
        }
        &:hover {
            opacity: 0.85;
        }
    }
}





