<div class="container" style="margin-top: 90px;">
	<div *ngIf="product">
		<div class="row m-5">
			<div class="col">
				<img [src]="product.photo" style="width:70%">
			</div>
			<div class="col">	
				<h3><b>{{product.name}}</b></h3>
				<h5><p>{{toCurrency.format(product.price)}}</p></h5>
				<p>{{product.description}}</p>
				<p><rating [(ngModel)]="average" [readonly]="true"></rating> ({{product.reviews.length}} Reviews)</p>
				<button class="btn btn-dark">Add to Cart</button>	
			</div>
		</div>
	</div>
</div>
<div class="container row">
	<div *ngFor="let review of product.reviews">
		<div class="col">
			<div class="col">
				<div>{{review.username}}</div>
			</div>
			<div class="col">
				<rating [(ngModel)]="review.stars" [readonly]="true"></rating>
			</div>
			<div>{{review.date}}</div>
			<div>{{review.content}}</div>
		</div>
		<br/>
	</div>
</div>