@import "../../../styles.scss";

h3 {
    text-transform: capitalize;
    font-family: $font-bold;
    padding: 5px;
}

.cart-btn{

    border-color: $dark-color;
    background-color: $secondary-color;
    color: $dark-color;
    border-width: 3px;
    box-sizing: border-box;

    &:hover{
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;
    }

}