/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/*Importing fonts from local file. */
@font-face {
    font-family: 'Regular';
    src: url('assets/fonts/texgyreadventor-bold.otf');
}

@font-face {
    font-family: 'Light';
    src: url('assets/fonts/texgyreadventor-regular.otf');
}

@font-face {
    font-family: 'Bold';
    src: url('assets/fonts/Uni Sans Heavy.otf');
}

/* ----Variables---- */
//$primary-color:  #c38452;
//$secondary-color: #e3c099;
//$highlight-color: #a1785c;
//$dark-color: #6b3e2e;

//$highlight-color:#795644;
//$primary-color:#a1785c;


$primary-color:  #df9c60;
//$secondary-color: #ebc186;
$highlight-color: #b9480b;
$dark-color: #9a2e04;

//$secondary-color:white;
$card-color: #e3c099;
$secondary-color: #f4dab5;

$font-regular: 'Regular';
$font-light: 'Light';
$font-bold: 'Bold';


body {
    font-family: $font-regular;
    letter-spacing: 2px;
    background-color: $secondary-color;
    text-decoration: none;
    color: $dark-color;
}

main {
    font-family: $font-regular;
    color: $dark-color;
    padding-top: 120px;
    //background-color: $secondary-color;
    padding-bottom: 30px;
}


