/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

nav {
	background: white;
	padding: 0;
	border-bottom: 1px solid;
}
/*a {
	&:hover {
		background: ;
        color: ;
	}
}*/

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}