/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
	margin-top: 160px;
<<<<<<< HEAD
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
=======
	min-height: 300px;
}

nav {
	background-color: whitesmoke;
	position: sticky;
}

a {
	text-decoration: none;
	color: #00704A; //change color to match logo and search bar button
	
	&:hover{
		color: #679267; //change color to match search bar button upon hover
	}
}

@media screen and (max-width: 500px) { //added for responsive design
	.navbar{
		a {
			float: none;
			display: block;
		}
	} 

	main{
		margin-top: 250px;
	}
}
>>>>>>> 102af3127a6bac58223eb5186179d944a88dc2fc
